<h1>Twitter</h1>
<h2>New Tweet</h2>
<%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>

<%= simple_form_for @tweet, url: books_path, method: :post do |f| %>
  <%= f.input :author, label_html: { class: 'my_label' }, as: :text %>
  <%= f.input :name, as: :text %>
  <%= f.input :read %>
  <br>
  <%= f.button :submit %>
<% end %>
<br>
<button type="button" class="btn btn-outline-primary">
  <%= link_to 'Full Book List', books_path %>
</button>
