<h1>Welcome!</h1>

<div class="container-fluid">
  <div class="row align-items-center" style="height: 60%;">
    <div class="col">
      <div class="row">
        <div class="col-sm-5" id="home-middle">
          <div class="card">
            <div class="card-body">
              <%= simple_form_for current_user.tweets.build, url: tweets_path(current_user), method: :post do |f| %>
                <%= f.input :tweet, required: false, label: false, placeholder: "What's Happening?" %>
                <br>
                <%= f.button :submit %>
              <% end %>
            </div>
          </div>
          <br>
          <%= @tweets.each do |tweet| %>
            <div class="card">
              <div class="card-body">
                <%= tweet.created_at.strftime("%d %b, %H:%M") if tweet.id %>
                <br>
                <%= tweet.tweet %>
                <%= link_to 'Edit', edit_tweet_path(tweet) if tweet.id %>
                <%= link_to 'Delete', tweet_path(tweet), method: :delete, data: { confirm: 'Sure?' } if tweet.id %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="col-sm-2" id="home-right">
          <div class="row">
            <h3>Own Stats</h3>
            <ul>
              <li><%= current_user.posters.count %> following</li>
              <li><%= current_user.subscribers.count %> followers</li>
            </ul>
          </div>
          <div class="row">
            <h3>Who to follow</h3>
            <ul>
              <% @users.each do |user| %>
              <li>
                <%= user.username %>
                <%= link_to "Follow", follow_path(user), method: :post if Relation.find_by(subscriber_id: current_user.id, poster_id: user.id) == nil %>
                <%= link_to "UnFollow", unfollow_path(user), method: :delete if Relation.find_by(subscriber_id: current_user.id, poster_id: user.id) != nil %>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
