<h1>Welcome!</h1>

<div class="container-fluid">
  <div class="row align-items-center" style="height: 60%;">
    <div class="col">
      <div class="row">

        <div class="col-sm-1" id="home-left">
        </div>

        <div class="col-sm-5" id="home-center">
          <div class="card">
            <div class="card-body">
              <%= simple_form_for current_user.tweets.build, url: tweets_path(current_user), method: :post do |f| %>
                <%= f.input :tweet, required: false, label: false, placeholder: "What's Happening?" %>
                <br>
                <%= f.button :submit %>
              <% end %>
            </div>
          </div>
          <br>
            <% @tweets.each do |tweet| %>
              <div class="card">
                <div class="card-body">
                  <%= tweet.created_at.strftime("%d %b, %H:%M") %>
                  <br>
                  <%= tweet.tweet[0,150] %>
                  &nbsp
                  <%= link_to 'Edit', edit_tweet_path(tweet) %>
                  <%= link_to 'Delete', tweet_path(tweet), method: :delete, data: { confirm: 'Sure?' } %>
                </div>
              </div>
              <br>
            <% end %>
        </div>

        <div class="col-sm-2" id="home-right">
          <div class="row">
            <div class="card">
              <div class="card-body">
                <%= current_user.posters.count %> following
                <br>
                <%= current_user.subscribers.count %> followers
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            My followers
            <br>
            Users I follow
          </div>
          <br>
          <div class="row">
            <h3>Suggested Users to Follow</h3>
            <ul>
              <% @users.each do |user| %>
              <li>
                <%= link_to user.username, profile_user_path(user) %>
                &nbsp
                <%= link_to "follow", follow_path(user), method: :post if Relation.find_by(subscriber_id: current_user.id, poster_id: user.id) == nil %>
                <%= link_to "UnF", unfollow_path(user), method: :delete if Relation.find_by(subscriber_id: current_user.id, poster_id: user.id) != nil %>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
